{% extends "../Base/BasePanel.html" %}
{% load staticfiles %}
{% block title %}
  Listado de Reservas Web
{% endblock title %}


{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Listado de Reservas Web
        <small>Detalles </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li><a href="#">Listado de Reservas Web  </a></li>
        <li class="active">Detalles </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
           <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body" >
            <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- box info -->
                  <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-bank  "></i></span>

                    <div class="info-box-content">
                         <span class="info-box-text">INGRESOS HOY</span>
                       {% if ingresos_hoy.total == None %}
                            0$
                            {% else %}
                        
                             <span class="info-box-number">{{ingresos_hoy.total}}<strong>$</strong></span>
                            
                          {% endif %}
                     </div>
              <!-- /.info-box-content -->
                </div>
            <!-- /.info-box -->
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- box info -->
                  <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-users"></i></span>

                    <div class="info-box-content">
                         <span class="info-box-text">CITAS HOY </span>
                       {% if turnos_hoy == None %}
                            0
                            {% else %}
                        
                             <span class="info-box-number">{{turnos_hoy}}</span>
                            
                          {% endif %}
                     </div>
              <!-- /.info-box-content -->
                </div>
          <!-- /.info-box -->
            </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- box info -->
                  <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa  fa-minus"></i></span>

                    <div class="info-box-content">
                         <span class="info-box-text">EGRESOS HOY </span>
                       {% if egresos_hoy.total == None %}
                            0$
                            {% else %}
                        
                             <span class="info-box-number">{{egresos_hoy.total}}<strong>$</strong></span>
                            
                          {% endif %}
                     </div>
              <!-- /.info-box-content -->
                </div>
            <!-- /.info-box -->
              </div>
              


            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      







          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Lista de Reservas Web </h3>
            </div>
            <div style="background-color: rgba(154, 153, 158, 0.09);" class="box-body">
            <h5 class="box-title">Filtrar por Fecha </h5>
              <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">DESDE</label>
                    <input type="text" id="datepicker_from" class="form-control" id="exampleInputEmail1" placeholder="SELECCIONE LA FECHA DE INICIO ">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">HASTA</label>
                    <input type="text" id="datepicker_to" class="form-control" id="exampleInputEmail1" placeholder="SELECCIONE LA FECHA FINAL">
                </div>
              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>COD</th>
                  <th>CLIENTE</th>

                  <th>HORA</th>
                  <th>FECHA</th>
                  <th>FORMA DE PAGO</th>
                  <th>MONTO A PAGAR</th>
                  <th>MONTO PAGADO</th>
                  <th>INFO</th>
                  <th>STATUS</th>
                  <th>ACCIONES</th>
                </tr>
                </thead>
                <tbody>
                
             
                  
                {% for turno in turnos  %}
                    {% if TurnEditar.id == turno.id  and tipo == 'TURNO' %}
                    <!--form-->
                    <tr>
                    <td><a href="{% url "Turnos:DetallesTurn" turno.id %}" target="_blank" >TURNO-{{turno.id}}</a></td>
                    <td>
                          <a href="{% url "Clientes:ClienteProfile" turno.client.id %}" class="product-title">{{turno.client}}</a>
                    </td>
                    
                   
                         <td>{{turno.turn}}</td>
                    <td>{{turno.dateTurn}}</td>
                    {% if turno.PagoOnline == 'True' %}
                            <td> Pagado Online </td>
                            {% else %}
                            <td>Paga Por Sucursal</td>
                          {% endif %}
                    <td>${{turno.montoAPagar}}</td> 
                    <td>${{turno.montoPagado}}</td> 
                    <td>{{turno.extraInfoTurn}}</td> 
                    {% if turno.statusTurn.nameStatus == 'Sin Aprobar' %}
                      
                      <td> 
                          <form action="" method="post">
                             {% csrf_token %}
                               <div class="box-body">
                                  {% for field in Form %}
                                    {% if field.name == 'statusTurn' %}
                                      <div class="form-group ">
                                      <span class="label label-warning">{{turno.statusTurn}}</span>
                                          {{ field }}   
                                       </div>
                                    {%endif%}
                                  {% endfor %}
                                </div>
                                <td>
                                  <button type="submit" class="label btn btn-primary">GUARDAR</button>
                                  <a href="{% url "Turnos:listTurnos" %}" class="label btn btn-danger">CANCELAR</a>
                                 </td>
                          </form>
                    </td>

                   {% elif turno.statusTurn.nameStatus == 'Finalizada' %}
                       <td>
                            
                            <form action="" method="post">
                             {% csrf_token %}
                               <div class="box-body">
                                  {% for field in Form %}
                                    {% if field.name == 'statusTurn' %}
                                      <div class="form-group ">
                                        <span class="label label-success">{{turno.statusTurn}}</span>
                                          {{ field }}   
                                       </div>
                                    {%endif%}
                                  {% endfor %}
                                </div>
                                <td>
                                  <button type="submit" class="label btn btn-primary">GUARDAR</button>
                                  <a href="{% url "Turnos:listTurnos" %}" class="label btn btn-danger">CANCELAR</a>
                                 </td>
                          </form>
                      </td>

                    {% elif turno.statusTurn.nameStatus == 'No Aprobada' %}
                       <td>
                            
                            <form action="" method="post">
                             {% csrf_token %}
                               <div class="box-body">
                                  {% for field in Form %}
                                    {% if field.name == 'statusTurn' %}
                                      <div class="form-group ">
                                      <span class="label label-danger">{{turno.statusTurn}}</span>
                                          {{ field }}   
                                       </div>
                                    {%endif%}
                                  {% endfor %}
                                </div>
                                <td>
                                  <button type="submit" class="label btn btn-primary">GUARDAR</button>
                                  <a href="{% url "Turnos:listTurnos" %}" class="label btn btn-danger">CANCELAR</a>
                                </td>
                          </form>
                      </td>
                    {% elif turno.statusTurn.nameStatus == 'Confirmada' %}
                    <!--No form-->
                       <td>
                            <form action="" method="post">
                            
                             {% csrf_token %}
                               <div class="box-body">
                                  {% for field in Form %}
                                    {% if field.name == 'statusTurn' %}
                                      <div class="form-group ">
                                          <span style="background-color:#00c0ef;" class="label">{{turno.statusTurn}}</span>
                                          {{ field }}   
                                       </div>
                                    {%endif%}
                                  {% endfor %}
                                </div>
                                <td>
                                  <button type="submit" class="label btn btn-primary">GUARDAR</button>
                                  <a href="{% url "Turnos:listTurnos" %}" class="label btn btn-danger">CANCELAR</a>
                                 </td>
                          </form>
                      </td>
                    {% endif %}
                  
                    
                  </tr>
                      {% elif TurnEditar.id != turno.id   %}
                        <tr>
                          <td><a href="{% url "Turnos:DetallesTurn" turno.id %}" target="_blank">TURNO-{{turno.id}}</a></td>
                          <td>
                                <a href="{% url "Clientes:ClienteProfile" turno.client.id %}" class="product-title">{{turno.client}}</a>
                          </td>
                          
                         
                               <td>{{turno.turn}}</td>
                          <td>{{turno.dateTurn}}</td>
                          {% if turno.PagoOnline == 'True' %}
                            <td> Pagado Online </td>
                            {% else %}
                            <td>Paga Por Sucursal</td>
                          {% endif %}
                          <td>${{turno.montoAPagar}}</td> 
                          <td>${{turno.montoPagado}}</td>
                          <td>{{turno.extraInfoTurn}}</td>
                          {% if turno.statusTurn.nameStatus == 'Sin Aprobar' %}
                            
                            <td>
                                  <span class="label label-warning">{{turno.statusTurn}}</span>
                            </td>

                         {% elif turno.statusTurn.nameStatus == 'Finalizada' %}
                             <td>
                                  <span class="label label-success">{{turno.statusTurn}}</span>
                            </td>

                          {% elif turno.statusTurn.nameStatus == 'No Aprobada' %}
                             <td>
                                  <span class="label label-danger">{{turno.statusTurn}}</span>
                            </td>
                          {% elif turno.statusTurn.nameStatus == 'Confirmada' %}
                             <td>
                                  <span style="background-color:#00c0ef;" class="label">{{turno.statusTurn}}</span>
                            </td>
                          {% endif %}

                          <td>
                          {% if turno.montoAPagar != turno.montoPagado %}
                                  <button  type="button" value='{{turno.id}}' href="javascript:void(0);" onclick="PagarOnlineTurno(this.value);" style="" class="label btn btn-info">PAGAR</button>
                              {% endif %}
                              <a  href="{% url "Turnos:EditTurnList" turno.id %}" style="background-color:#39CCCC;" class="label">STATUS</a>
                              <a href="{% url "Turnos:EditTurn" turno.id %}" style="background-color:#001F3F;" class="label">EDITAR</a>
                              <a href="{% url "Turnos:DeleteTurn" turno.id %}" style="background-color:#D81B60;" class="label">ELIMINAR</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

                {% for turno in Reservas  %}
                    {% if TurnEditar.id == turno.id and tipo == 'WEB'  %}
                    <!--form-->
                    <tr>
                    <td><a href="{% url "Reservas:DetallesWeb" turno.id %} " target="_blank">RESERVA-{{turno.id}}</a></td>
                    
                    <td>{{turno.nombre}}</td>
                    
                   
                         <td>{{turno.turn}}</td>
                    <td>{{turno.dateTurn}}</td>
                    {% if turno.PagoOnline == 'True' %}
                            <td> Pagado Online </td>
                            {% else %}
                            <td>Paga Por Sucursal</td>
                          {% endif %}
                          <td>${{turno.montoAPagar}}</td> 
                          <td>${{turno.montoPagado}}</td>
                    <td>Reserva Web</td>
                    

                   

                   {% if turno.statusTurn.nameStatus == 'Finalizada' %}
                       <td>
                            
                            <form action="" method="post">
                             {% csrf_token %}
                               <div class="box-body">
                                  {% for field in Form %}
                                    {% if field.name == 'statusTurn' %}
                                      <div class="form-group ">
                                        <span class="label label-success">{{turno.statusTurn}}</span>
                                          {{ field }}   
                                       </div>
                                    {%endif%}
                                  {% endfor %}
                                </div>
                                <td>
                                  <button type="submit" class="label btn btn-primary">GUARDAR</button>
                                  <a href="{% url "Turnos:listTurnos" %}" class="label btn btn-danger">CANCELAR</a>
                                 </td>
                          </form>
                      </td>

                    {% elif turno.statusTurn.nameStatus == 'No Aprobada' %}
                       <td>
                            
                            <form action="" method="post">
                             {% csrf_token %}
                               <div class="box-body">
                                  {% for field in Form %}
                                    {% if field.name == 'statusTurn' %}
                                      <div class="form-group ">
                                      <span class="label label-danger">{{turno.statusTurn}}</span>
                                          {{ field }}   
                                       </div>
                                    {%endif%}
                                  {% endfor %}
                                </div>
                                <td>
                                  <button type="submit" class="label btn btn-primary">GUARDAR</button>
                                  <a href="{% url "Turnos:listTurnos" %}" class="label btn btn-danger">CANCELAR</a>
                                </td>
                          </form>
                      </td>
                    {% elif turno.statusTurn.nameStatus == 'Confirmada' %}
                    <!--No form-->
                       <td>
                            <form action="" method="post">
                            
                             {% csrf_token %}
                               <div class="box-body">
                                  {% for field in Form %}
                                    {% if field.name == 'statusTurn' %}
                                      <div class="form-group ">
                                          <span style="background-color:#00c0ef;" class="label">{{turno.statusTurn}}</span>
                                          {{ field }}   
                                       </div>
                                    {%endif%}
                                  {% endfor %}
                                </div>
                                <td>
                                  <button type="submit" class="label btn btn-primary">GUARDAR</button>
                                  <a href="{% url "Turnos:listTurnos" %}" class="label btn btn-danger">CANCELAR</a>
                                 </td>
                          </form>
                      </td>
                    {% endif %}
                  
                    
                  </tr>
                      {% elif TurnEditar.id != turno.id   %}
                        <tr>
                          <td><a href="{% url "Reservas:DetallesWeb" turno.id %} " target="_blank">RESERVA-{{turno.id}}</a></td>
                          
                          <td>{{turno.nombre}}</td>
                         
                               <td>{{turno.turn}}</td>
                          <td>{{turno.dateTurn}}</td>
                          {% if turno.PagoOnline == 'True' %}
                            <td> Pagado Online </td>
                            {% else %}
                            <td>Paga Por Sucursal</td>
                          {% endif %}
                          <td>${{turno.montoAPagar}}</td> 
                          <td>${{turno.montoPagado}}</td>
                          <td> {{turno.TipoReservas}}</td>
                          
                         

                         {% if turno.statusTurn.nameStatus == 'Finalizada' %}
                             <td>
                                  <span class="label label-success">{{turno.statusTurn}}</span>
                            </td>

                          {% elif turno.statusTurn.nameStatus == 'No Aprobada' %}
                             <td>
                                  <span class="label label-danger">{{turno.statusTurn}}</span>
                            </td>
                          {% elif turno.statusTurn.nameStatus == 'Confirmada' %}
                             <td>
                                  <span style="background-color:#00c0ef;" class="label">{{turno.statusTurn}}</span>
                            </td>
                          {% endif %}

                          <td>
                          {% if turno.montoAPagar != turno.montoPagado %}
                                  <button  type="button" value='{{turno.id}}' href="javascript:void(0);" onclick="PagarOnlineReservaWeb(this.value);" style="" class="label btn btn-info">PAGAR</button>
                              {% endif %}
                              <a href="{% url "Reservas:EditReservaList2" turno.id %}" style="background-color:#39CCCC;" class="label">STATUS</a>
                              <a href="{% url "Turnos:EditTurn" turno.id %}" style="background-color:#001F3F;" class="label">EDITAR</a>
                              <a href="{% url "Turnos:DeleteTurn" turno.id %}" style="background-color:#D81B60;" class="label">ELIMINAR</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                



                
                </tbody>
                <tfoot>
                <tr>
                  <th>COD</th>
                  <th>CLIENTE</th>
                  
                  <th>HORA</th>
                  <th>FECHA</th>
                  <th>FORMA DE PAGO</th>
                  <th>MONTO A PAGAR</th>
                  <th>MONTO PAGADO</th>
                  <th>INFO</th>
                  <th>STATUS</th>
                  <th>ACCIONES</th>

                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>



    <div class="box-body" >
          
            <div class="col-sm-12">
              <a href="{% url "Turnos:NuevoTurn" %}" type="button" class="btn btn-block btn-info">Nueva Reserva </a>
            </div>
           
           
    </div>
    <!-- /.content -->
  </div>

  
{% endblock content %}


{% block scripts %}
  <!-- jQuery 2.2.3 -->
<script src="{% static "plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- SlimScroll -->
<!-- jQuery 2.2.3 -->
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "dist/js/app.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "dist/js/demo.js" %}"></script>
<!-- fullCalendar 2.2.5 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{% static "plugins/fullcalendar/fullcalendar.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-clockpicker.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap/js/highlight.min.js" %}"></script>
<!-- Page specific script -->
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-clockpicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-datepicker.adminlte.min.js" %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.js" data-semver="1.9.4" data-require="datatables@*"></script>
<script src="{% static "bootstrap/js/filtrado.js" %}"></script>
<script src="{% static 'bootstrap/js/notificaciones.js'%}"></script>



<script>
  
    function PagarOnlineReservaWeb(id_reserva) {
    var myArrayOfThings = [];
    {% for turnos in formas_de_pago  %}
       myArrayOfThings.push( { id: {{turnos.id}}, name: '{{turnos.nameFormasDePago}}' });
    {% endfor %}
    var options = {};
    $.map(myArrayOfThings,function(o,query) {options[o.id] = o.name;});
      swal.setDefaults({
          input: 'text',
          confirmButtonText: 'Siguiente &rarr;',
          showCancelButton: true,
          progressSteps: ['1', '2',]
        })
        var steps = [
        {
            title: 'Seleccione un metodo de pago',
            input: 'select',
            inputOptions: options,
            inputPlaceholder: 'metodos de pago',
          },
          {
            title: 'Ingrese el Monto a Cargar',
            text: 'Monto'
          },

          
        ]

        swal.queue(steps).then(function (result) {
          id_metodo_pago = parseFloat(result[0]);
          id_monto       = parseFloat(result[1]);
               swal.resetDefaults()
                $.ajax({
                    url: '/Caja/ajax/nuevo/ingreso/reserva/web',
                    data: {
                      'id_reserva':id_reserva,
                      'id_metodo_pago': id_metodo_pago,
                      'id_monto':id_monto,
                  },
                  dataType: 'json',
                  success: function (status) {
                     swal({
                        title: 'Hemos Cargado de manera exitosa su pago !',
                        confirmButtonText: 'Aceptar!'
                      })
                     location.reload(); 
                }
            });

        }, function () {
          swal.resetDefaults()
        })
  }

  function PagarOnlineTurno(id_reserva) {
    var myArrayOfThings = [];
    {% for turnos in formas_de_pago  %}
       myArrayOfThings.push( { id: {{turnos.id}}, name: '{{turnos.nameFormasDePago}}' });
    {% endfor %}
    var options = {};
    $.map(myArrayOfThings,function(o,query) {options[o.id] = o.name;});
      swal.setDefaults({
          input: 'text',
          confirmButtonText: 'Siguiente &rarr;',
          showCancelButton: true,
          progressSteps: ['1', '2',]
        })
        var steps = [
        {
            title: 'Seleccione un metodo de pago',
            input: 'select',
            inputOptions: options,
            inputPlaceholder: 'metodos de pago',
          },
          {
            title: 'Ingrese el Monto a Cargar',
            text: 'Monto'
          },

          
        ]

        swal.queue(steps).then(function (result) {
          id_metodo_pago = parseFloat(result[0]);
          id_monto       = parseFloat(result[1]);
               swal.resetDefaults()
                $.ajax({
                    url: '/Caja/ajax/nuevo/ingreso/turno/web',
                    data: {
                      'id_reserva':id_reserva,
                      'id_metodo_pago': id_metodo_pago,
                      'id_monto':id_monto,
                  },
                  dataType: 'json',
                  success: function (status) {
                     swal({
                        title: 'Hemos Cargado de manera exitosa su pago !',
                        confirmButtonText: 'Aceptar!'
                      })
                     location.reload(); 
                }
            });

        }, function () {
          swal.resetDefaults()
        })
  }



</script>

<!-- page script -->

{% endblock scripts %}