{% extends "../Base/BasePanel.html" %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Nuevo tipo de ingreso 
        <small>detalles</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li><a href="#">Ingresos </a></li>
        <li class="active">Nuevo tipo de ingresos </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-8 col-sm-12">
          <!-- general form elements -->
          
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Nuevo tipo de ingresos </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
           
              <div class="box-body">
                <div class="form-group">
                  <label>Nombre del Tipo de ingreso </label>
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
                
                
              
              
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">GUARDAR</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
        <div class="col-lg-2 col-sm-0"></div>
        <!--/.col (left) -->
        <!-- right column -->
        
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}

