{% extends "../Base/BasePanel.html" %}

{% block title %}
  Nuevo Egreso
{% endblock title %}

{% block content %}
{% if user.is_authenticated and user.is_staff == True and user.is_superuser == True%}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Nuevo Egreso de Caja
        <small>detalles</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li><a href="ingresos-egresos.html">Ingreso-Egresos</a></li>
        <li class="active">Nuevo Egreso</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-lg-2 col-xs-0"></div>
        {% if mensaje %}
        <script>
                 $(document).ready(function()
                 {
                    $("#myModal").modal("show");
                 });

            </script>
            <div class="col-lg-12 modal modal-success" id="myModal" role="dialog">
              <div class="modal-dialog">
                <div style="margin-left: 7em;" class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Felicitaciones </h4>
                  </div>
                  <div class="modal-body">
                    <p>{{mensaje}}</p>
                  </div>
                  <div class="modal-footer">
                    <a  href="{% url "Caja:EgresoList" %}" class="btn btn-outline pull-left">Cerrar </a>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
          {% elif fallido != None %}
          <script>
                 $(document).ready(function()
                 {
                    $("#myModal").modal("show");
                 });

            </script>
          <div  class="modal modal-danger" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div style="margin-left: 7em;" class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">Hemos tenido Un Problema</h4>
                </div>
                <div class="modal-body">
                  <p>No pudimos completar su registro</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
           <div class="col-lg-8 col-xs-12">
              <!-- general form elements -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Nuevo Egreso de Caja</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="box-body">
                      
                      {% for field in Form %}
                         {% if Form.subject.errors %}
                             <ol>
                              {% for error in Form.subject.errors %}
                                  <li><strong>{{ error|escape }}</strong></li>
                              {% endfor %}
                            </ol>
                        {% endif %}
                        
                        {{ field.errors }}


                        {% if field.name == 'proveedor' %}
                              <div class="form-group ">
                              <label>Seleccione el proveedor a pagar</label>
                              {{ field }}
                        
                            </div>

                        {% elif field.name == 'tipoPago' %}
                          <div class="form-group ">
                                  <label>Seleccione el tipo de pago a realizar</label>
                                  {{ field }}
                          
                              </div>



                        {% elif field.name == 'tipoIngreso' %}
                          <div class="form-group ">
                                  <label>El tipo de ingreso con el que pagara</label>
                                   {{ field }}
                          
                              </div>
                         {% elif field.name == 'monto' %}
                          <div class="form-group ">
                                  <label>Monto</label>
                                  <input class="form-control" placeholder="{{field.label}}" autocomplete="off" 
                                  required autofocus maxlength="{{field.max_length}}" {{ field }}
                          
                              </div>
                        {% elif field.name == 'descripcion' %}
                          <div class="form-group ">
                                  <label>Descripcion</label>
                                   {{ field }}
                          
                              </div>

                        
                        
                        


                          
                        {% endif %}
            
              

              
          
                      {% if field.help_text %}
                        <script> console.log('{{ field.help_text|safe }}')</script>
                      {% endif %}
                   {% endfor %}

                   
                   
                    


                    
                  
                 
                  
                  </div>
                  <!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">GUARDAR</button>
                    <a href="{% url "Caja:EgresoList" %}" class="btn btn-danger">REGRESAR</a>
                  </div>
                </form>
              </div>
              <!-- /.box -->
            </div>

          {% else %}
            <div class="col-lg-8 col-xs-12">
              <!-- general form elements -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Nuevo Egreso de Caja</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="box-body">
                      
                      {% for field in Form %}
                         {% if Form.subject.errors %}
                             <ol>
                              {% for error in Form.subject.errors %}
                                  <li><strong>{{ error|escape }}</strong></li>
                              {% endfor %}
                            </ol>
                        {% endif %}
                        
                        {{ field.errors }}


                        {% if field.name == 'proveedor' %}
                              <div class="form-group ">
                              <label>Seleccione el proveedor a pagar</label>
                              {{ field }}
                        
                            </div>

                        {% elif field.name == 'tipoPago' %}
                          <div class="form-group ">
                                  <label>Seleccione el tipo de pago a realizar</label>
                                  {{ field }}
                          
                              </div>



                        {% elif field.name == 'tipoIngreso' %}
                          <div class="form-group ">
                                  <label>El tipo de ingreso con el que pagara</label>
                                   {{ field }}
                          
                              </div>
                         {% elif field.name == 'monto' %}
                          <div class="form-group ">
                                  <label>Monto</label>
                                  <input class="form-control" placeholder="{{field.label}}" autocomplete="off" 
                                  required autofocus maxlength="{{field.max_length}}" {{ field }}
                          
                              </div>
                        {% elif field.name == 'descripcion' %}
                          <div class="form-group ">
                                  <label>Descripcion</label>
                                   {{ field }}
                          
                              </div>

                        
                        
                        


                          
                        {% endif %}
            
              

              
          
                      {% if field.help_text %}
                        <script> console.log('{{ field.help_text|safe }}')</script>
                      {% endif %}
                   {% endfor %}

                   
                   
                    


                    
                  
                 
                  
                  </div>
                  <!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">GUARDAR</button>
                    <a href="{% url "Caja:EgresoList" %}" class="btn btn-danger">REGRESAR</a>
                  </div>
                </form>
              </div>
              <!-- /.box -->
            </div>
        {% endif %}
        <div class="col-lg-2 col-xs-0"></div>
        <!--/.col (left) -->
        <!-- right column -->
        
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% else %}

{% include "Base/404.html" %}
  
{% endif %}
{% endblock content %}

